.taski-tem-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 80vw;
    align-items: center;
    margin-top: 20px;
    background-color:white;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
.font-size{
    font-size:18px ;
    width: 100px;
}
.weight{
    font-weight: 500;
}
.m-r{
    margin-right: 25px;
}
.checkbox{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}
.pending{
    background-color: rgb(255, 197, 127);
    border-radius: 5px;
}
.completed{
    background-color: rgb(7, 207, 7);
    border-radius: 5px;
}
.delete{
    background-color: rgb(255, 43, 43);
    color: white;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid red;
    padding: 2px;
}